.align-right{
    text-align: right;
}

.strong-title{
    font-weight: bold !important;
}

.line{
    border: 1px solid #1f5057;
}

.underline-dashed{
    text-decoration: underline dashed;
    text-underline-offset: 4px;
}

.plot-of-bottle-hide {
    display: none !important;
}
